extends layout

block content
  form.form-horizontal(action='/user/modify', method='post')
    fieldset
      // Form Name
      legend User Register
      // Text input
      .form-group
        label.col-md-4.control-label(for='username2') Username
        .col-md-4
          input(type='hidden', name='username', value='#{session.user.username}')
          input#username.form-control.input-md(name='username2', type='text', placeholder='', disabled, value='#{session.user.username}')
      // Password input
      .form-group
        label.col-md-4.control-label(for='oldpassword') Old Password
        .col-md-4
          input#password.form-control.input-md(name='oldpassword', type='password', placeholder='Fill if you want to change password')
      // Password input
      .form-group
        label.col-md-4.control-label(for='password') Password
        .col-md-4
          input#password.form-control.input-md(name='password', type='password', placeholder='Fill if you want to change password')
      // Password input
      .form-group
        label.col-md-4.control-label(for='repassword') Re-Password
        .col-md-4
          input#repassword.form-control.input-md(type='password', placeholder='The same as the above')
      // hr
      .form-group
        .col-md-4
        .col-md-4
          hr
      // Text input
      .form-group
        label.col-md-4.control-label(for='name') Real Name
        .col-md-4
          input#name.form-control.input-md(name='name', type='text', placeholder='(Optional)', value='#{session.user.name}')
      // Text input
      .form-group
        label.col-md-4.control-label(for='studentid') Student ID
        .col-md-4
          input#studentid.form-control.input-md(name='studentid', type='text', placeholder='(Optional)', value='#{session.user.studentID}')
      // Text input
      .form-group
        label.col-md-4.control-label(for='year') Admission year
        .col-md-4
          input#year.form-control.input-md(name='year', type='number', min='2002', placeholder='(Optional) 4 digits', value='#{session.user.year}')
      // hr
      .form-group
        .col-md-4
        .col-md-4
          hr
      // Button
      .form-group
        label.col-md-4.control-label(for='update')
        .col-md-4
          button#register.btn.btn-primary Update
