extends layout

block head
  title Update User Information

block content
  form.form-horizontal(action='#{ROOT}user/modify', method='post')
    fieldset
      // Form Name
      legend 修改个人信息
      // Hidden
      input(type="hidden", name="studentID", value="#{session.user.studentID}")
      // Text input
      .form-group
        label.col-md-4.control-label(for='studentID') 学号
        .col-md-4
          input#studentID.form-control.input-md(type='text', disabled, value='#{session.user.studentID}')
      // Password input
      .form-group
        label.col-md-4.control-label(for='oldpassword') 旧密码
        .col-md-4
          input#password.form-control.input-md(name='oldpassword', type='password', placeholder='如果要更改密码，请填写旧密码')
      // Password input
      .form-group
        label.col-md-4.control-label(for='password') 新密码
        .col-md-4
          input#password.form-control.input-md(name='password', type='password', placeholder='如果要更改密码，请填写新密码')
      // Password input
      .form-group
        label.col-md-4.control-label(for='repassword') 新密码验证
        .col-md-4
          input#repassword.form-control.input-md(type='password', placeholder='如果要更改密码，请填写新密码')
      // Text input
      .form-group
        label.col-md-4.control-label(for='name') 真实姓名
        .col-md-4
          input#name.form-control.input-md(name='name', type='text', placeholder='', value='#{session.user.name}', required)
      // Text input
      .form-group
        label.col-md-4.control-label(for='year') 入学年份
        .col-md-4
          input#year.form-control.input-md(name='year', type='number', placeholder='4位数', value='#{session.user.year}', required)
      // hr
      .form-group
        .col-md-4
        .col-md-4
          hr
      // Button
      .form-group
        label.col-md-4.control-label(for='update')
        .col-md-4
          button#register.btn.btn-primary 更新
